<h1 class="fw-bold">UN SOLO PROVEEDOR, TODAS LAS SOLUCIONES</h1>

<div class="my-4">
    <img id="banner" src="/img/banner.jpg" alt="Banner promocional de LabelTech" class="img-fluid">
</div>

<h2 class="my-4">Nuestros Productos</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each products}}
    <div class="col">
        <div class="card h-100">
            <img src="{{this.thumbnails.[0]}}" onerror="this.onerror=null;this.src='/img/item.png';" class="card-img-top" alt="{{this.title}}">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}}</p>
                <p class="card-text"><strong>Precio: ${{this.price}}</strong></p>
                <p class="card-text"><small class="text-muted">Stock: {{this.stock}}</small></p>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<div id="accion" class="my-4">
    <a href="https://wa.me/541141933835" target="_blank" class="btn btn-success btn-lg">¡Contactate con un vendedor!</a>
</div>